$body-minWidth : 970px;
.container{
	width: 940px !important;
}

/* header layout */
.header {
	position: relative;
	z-index: 1;
	margin-bottom: 17px;
	&-top{
		background: #f2f1f1;
		padding: 5px 0 3px;
	}
	min-height: 235px;	
	&-right{
		@extend .pull-right;
		@extend .text-center;
		width: 140px;
		margin-top: -29px;
		position: relative;
		z-index: 2;
		.btn{
			display: block;
		}
	}
	.hBasket{
		margin-bottom: 14px;
		max-height: 167px;
		img{
			max-width: 88px;
		}
	}
	.hSlider{
		margin-right: 150px;
		position: relative;
		z-index: 1;
	}
	.hTime{
		margin-bottom: 10px;
	}
	.hPhone{
		margin-bottom: 12px;
	}
}

.main{
	position: relative;
	z-index: 2;
	margin-bottom: 33px;
	.leftMenu_w{	
		margin-top: -182px;
	}
	.leftMenu{
		@extend .text-center;
		background: #5fa9c0;
		border:1px solid #afd4df;
		border-width: 1px 1px 0px 1px;
	}
}
.leftMenu_w {
	width: 180px;
	float: left;
	@extend .text-center;
	.zSearch{
		margin-bottom: 13px;
	}
}
.leftMenu {
	margin: 0;
	padding: 30px 5px;
	position: relative;
	z-index: 1;
	a:active{
		color: #fff;
	}
}
.content_w {
	float: left;
	width: 760px;
}
.content {
	margin: 0;
	margin-left: 60px;
}

.innerPage{
	.content{
		margin-left: 19px;
	}
}
.leftMenu-bg{
	position: absolute;
	top: 200px;
	bottom: 0;
	left: 50%;
	width: 180px;
	margin-left: -470px;
	background: $menuBg;
	border:1px solid #afd4df;
	z-index: 0;
}

.infoBlocks{
	@extend %cfix;
	&-left{
		@extend .pull-left;
		width: 440px;
		margin-right: 40px;
	}
	&-right{
		@extend .pull-left;
		width: 220px;
	}
	margin-bottom: 25px;
}

.videosPage-items{
	margin-bottom: 25px;
}

.footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:2;
	overflow:hidden;
	background: #f2f1f1;
	&_placeholder{
		height: 200px;
	}
	&-bottom{
		@extend %cfix;
	}
	&-right{
		@extend .pull-right;
		width: 155px;
	}
	&-left{
		@extend .pull-left;
		width: 146px;
		padding-top: 3px;
		img{
			max-width: 110px;
		}
	}
	&-center{
		@extend .pull-left;
		width: 300px;
		img{
			max-width: 154px;
		}
	}
	.fSocial{
		margin-bottom: 15px;
	}
	.leftMenu_w{
		background: #5a4a42;
		padding-top: 34px;
		border-left: 1px solid #887c77;
		border-right: 1px solid #887c77;
	}
}
.drop-menu{
	&.active{
		ul{
			display: block;
		}
		.icon-dropM{
			background: url(../images/drop-menu-top.png) no-repeat;
		}
	}
	ul{
		display: none;
		padding: 10px 0 0 0;
	}
	.icon-dropM{
		margin-left: 10px;
	}
}

.contactsPage{
	&-head{
		@extend .zForm-head;
		@extend %cfix;
	}
	&-col{
		@extend .zForm-col;
		&:nth-child(1){
			width: 60%;
		}
		&:nth-child(2){
			width: 38%;
		}
	}
	&-info{
		font-size: px(14);
		padding: 0 13px;
		margin-bottom: 15px;
		@extend %cfix;
		@extend %openSans;
	}
	&-content{
		@extend %cfix;
		&-col{
			@extend .pull-left;
			width: 50%;
		}
		.zForm{
			padding: 15px 38px 15px 0;
		}
		margin-bottom: 18px;
		border-top: 2px solid #e2e2e3;
		border-bottom: 2px solid #e2e2e3;
	}
	.phoneText{
		font-size: px(20);
	}
	&-text.ctext{
		color: #6d6e71;
		h4{
			font-size: 12px;
			text-transform: uppercase;
			color: #6d6e71;
		}
		ul{
			margin-left: 16px;
			li{
				font-size: 12px;
				margin-bottom: 0;
				margin-left: 0;
				&:before{
					display: none;
				}
			}
		}
	} 
}