

@mixin font($fontName, $fontFamily, $fw:normal, $fs:normal ){
	@font-face {
		font-family: '#{$fontFamily}';
		src: url('../fonts/#{$fontName}.eot');
		src: local('O'),
		url('../fonts/#{$fontName}.woff') format('woff'),
		url('../fonts/#{$fontName}.ttf') format('truetype'),
		url('../fonts/#{$fontName}.svg') format('svg');
		font-weight: $fw;
		font-style: $fs;
	}
}

/* fonts */
@include font(myriadpro, myriadpro-regular, normal, normal);
@include font(myriadpro, myriadproitalic, normal, italic);
@include font(tahoma, myriadproitalic, normal, normal);

%OScondBold{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}
%OScond{
	font-family: 'Open Sans Condensed', sans-serif;
}
%openSans{
	font-family: 'Open Sans', sans-serif;
}

%myriadpro{
	font-family: 'myriadpro', sans-serif;
}
%tahoma{
	font-family: 'tahoma', sans-serif;
}
%tahoma{
	font-family: 'tahoma', sans-serif;
}


