

.zForm{
	&-head{
		background: #f2f1f1;
		padding: 5px 13px;
		font-size: 12px;
		color: #6d6e71;
		margin-bottom: 15px;
	}
	.zNice-checkbox,.zNice-radio{
		margin-right:7px;
		& + .zForm-text{
			color:$baseColor;
			@extend %inline-middle;
		}
	}
	&-title{
		font-size: px(12);
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	&-subtitle{
		font-size: px(10);
		margin-bottom: 1em;
	}
	&-row{
		margin-bottom:9px;
		position: relative;
		&:after{
			@extend %cfix;
		}
		
		&.leftFormat{
			.zForm-col{
				&:nth-child(1){
					width:74%;
					margin-right:2%
				}
				&:nth-child(2){
					width:24%;
				}
			}
		}
		&.rightFormat{
			.zForm-col{
				&:nth-child(1){
					width:24%;
					margin-right:2%
				}
				&:nth-child(2){
					width:74%;
				}
			}
		}
		&.zForm-treeCol{
			.zForm-col{
				width: 30%;
				margin-right: 5%;
			}
		}
	}
	&-col{
		width:49%;
		margin-right:2%;
		float:left;
		&:last-child{
			margin-right:0!important;
		}
	}
	&-center{
		text-align:center;
	}
	&-link {
		font-size: px(11);
		@extend %inline-middle;
	}
	&-text{
		
		text-decoration:none;
		font-size: 12px;
	}
	.zForm-inline {
		@extend %inline-middle;
		margin-right: 8px;
	}
	&-label {
		display: block;
		margin-bottom: 10px;
	}
	label{
		display: block;
		margin-bottom: 0;
	}
	&-text, &-label {
		color: #58595b;
		text-decoration: none;
		font-size: 12px;
		font-weight: 400;
	}
	&-labtext{
		background: #f1f2f2;
		font-size: 11px;
		width: 160px;
		padding: 10px;
		position: absolute;
		left: 110%;
		top: 50%;
		margin-top: -25px;
		color: #f26522;
		&:after{
			content:'';
			display: block;
			position: absolute;
			right: 100%;
			top: 50%;
			margin-top: -10px;
			border-right: 10px solid #f1f2f2;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}
	}

	&-table{
		display: table;
		width: 100%;
		margin-bottom: 23px;
		&-col{
			display: table-cell;
			width: 25%;
			text-align: center;
			vertical-align: middle;
		}
	}
}

.popupForm{
	padding:35px 10px 10px;
}
.popupWrap{
	min-width: 260px;
	text-align:left;
	padding-top: 25px;
}
.formMessage{
	text-align: center;
}

.checkout{
	@extend %cfix;
	margin-bottom: 22px;
	&-col{
		@extend .pull-left;
		width: 50%;
	}
	&.checkoutStep-one{
		.checkout-col{
			margin-left: 45px;
			width: 310px;
		}
		.zNice-tInput{
			max-width: 154px;
		}
		.zForm-link{
			display: block;
			margin-top: -4px;
			margin-bottom: 4px;
		}
	}
	&.checkoutStep-two{
		.checkout-col{
			margin-left: 45px;
			width: 210px;
		}
		.buttonRow{
			margin-right: 100px;
		}
	}

	&.checkoutStep-tree{
		.zForm-subtitle{
			font-size: 12px;
		}
		form{
			margin-left: 45px;
			max-width: 610px;
		}

		.zNice-radio+.zForm-text{
			max-width:70px;
		}
	}
}

.mlForm{
	margin-left: 20px;
}
.startForm{
	.zForm-title{
		text-transform: none;
	}
	.zForm-subtitle{
		margin-bottom: 10px;
	}
	.zForm-row{
		margin-bottom: 10px;
		line-height: 12px;
	}
}

.basketForm{
	width: 100%;
	font-size: px(12);
	margin-bottom: 25px;
	&-head,&-body{
		display: table;
		text-align: center;
		width: 100%;
	}
	&-head{
		.basketForm-col{
			text-align: center;
			border-bottom:2px solid #a4a5a6;
		}
	}
	&-body:last-child{
		.basketForm-col{
			border-bottom:2px solid #a4a5a6;
		}
	}
	.basketForm-col{
		vertical-align: middle;
	}
	&-col{
		display: table-cell;
		padding: 9px;
		&:nth-child(1){
			width: 190px;
			text-align: left;
		}
		&:nth-child(2){
			width: 116px;
		}
		&:nth-child(3){
			width: 185px;
		}
		&:nth-child(4){
			width: 118px;
		}
		&:nth-child(5){
			width: 103px;
		}
	}
	.basketProdItem-count{
		@extend %inline-middle;
		margin-right: 10px;
	}
	&-remove{
		@extend %inline-middle;
		width: 15px;
		height: 15px;
		img{
			vertical-align: middle;
		}
	}
	&-bottom{
		@extend %cfix;
		&-left{
			@extend .pull-left;
			width: 540px;
			.zNice-tInput{
				max-width: 240px;
			}
		}
		&-right{
			@extend .pull-left;
			width: 200px;
		}
		.basketForm-discont{
			font-size: px(12);
			color: #58595b;
			span{
				color: #db382e;
				font-size: 15px;
				font-weight: 700;
			}
		}
	}
}

.basketPage{
	.basketForm{
		&-col{
			&:nth-child(1){
				width: 128px;
			}
			&:nth-child(2){
				width: 257px;
				text-align: left;
			}
			&:nth-child(3){
				width: 185px;
			}
			&:nth-child(4){
				width: 105px;
			}
			&:nth-child(5){
				width: 80px;
			}
		}
		.basketForm-body{
			.basketForm-col{
				&:nth-child(4),&:nth-child(5){
					font-size: 17px;
					font-family: 'Exo 2', sans-serif;
				}
			}
		}
	}
	.button{
		margin-left: 20px;
	}
}

.basketAllprice{
	font-size: 13px;
	span{
		font-size: 19px;
		font-weight: 600;
	}
}

.basketProdItem-img{
	width: 64px;
	height: 64px;
}

.redColor{
	color: #db382e;
	input{
		color: #db382e;
	}
}
.reviewBlock-form{
	display: none;
}

.passwordForm{
	max-width: 152px;
}
.checkboxsesForm{
	max-width: 140px;
	.zForm-subtitle{
		margin-bottom: 0;
	}
}

.registerPage{
	.zForm-inner{
		margin-bottom: 16px;
	}
	.buttonRow{
		max-width: 415px;
	}
}

.zForm-lbl{
	@extend %inline-middle;
	width: 27%;
	font-size: 12px;
}
.zForm-input{
	@extend %inline-middle;
	width: 59%;
	font-size: 12px;
}

.productsFilter {
	margin-bottom: 17px;
	&-left{
		@extend .pull-left;
		width: 161px;
		margin: 0 18px;
	}
	&-right{
		@extend .pull-left;
		width: 544px;
		.zNice-select{
			font-size: 10px!important;
		}
	}
	.btn{
		padding: 3px 12px;
	}
}
.mbnone{
	margin-bottom: 0 !important;
}