@mixin icons($background, $width, $height) {
	background: url('../images/#{$background}.png') no-repeat left top;
	width: $width; 
	height: $height;
}

@mixin arrow($color, $direction:left, $width:7px, $weight: 3px, $angle: 45deg ) { // ie 10+
	width:$width;
	height:$width;
	line-height:$width;
	border-top:$weight solid $color;
	border-right:$weight solid $color;

	@if $direction == 'right' {
		$angle : 45deg;
	} 
	@else if $direction == 'left' {
			$angle : -135deg;
		}	
			@else if $direction == 'up' {
				$angle : -45deg;
			}
				@else if $direction == 'down' {
					$angle : 135deg;
				}

	-ms-transform:rotate($angle);
	-moz-transform:rotate($angle);
	-webkit-transform:rotate($angle);
	-o-transform:rotate($angle);
	transform:rotate($angle);
}

.icon {
	@extend %inline-middle;
	
    &_bigLarr { @include arrow(#000,left,22px,3px); }  // in the css file is compiled - 
	&_bigLarr { @include arrow(#000,left,22px,3px); }  // in the css file is compiled - 
														// .icon_bigLarr {   
														// 	width: 22px;
														// 	height: 22px;
														// 	line-height: 22px;
														// 	border-top: 3px solid red;
														// 	border-right: 3px solid red;
														// 	-ms-transform: rotate(-135deg);
														// 	-webkit-transform: rotate(-135deg);
														// 	transform: rotate(-135deg); 
														// 
													//}

	&_bigRarr { @include arrow(#f00,right,22px,3px); }
	
    &-paginator { @include icons(icon-paginator, 8px, 10px); } 
    &-time { width: 15px;height: 15px;} 
    &-videoPlay { @include icons(icon-video, 27px, 19px); } 
    &-star { @include icons(icon-star, 17px, 17px); } 
    &-grid { @include icons(icon-grid, 15px, 16px); } 
    &-list { @include icons(icon-list, 20px, 16px); } 
    &-time-right {width: 18px;height: 15px;} 
	&_litUparr { @include icons(icon_lituparr, 7px, 10px); } 	// in the css file is compiled - 
																// .icon_litUparr {   
																	// background: url("../images/icon_lituparr.png") no-repeat left top;
																	// width: 7px;
																	// height: 10px;
																//}
	
}

.icon{
    img{
        vertical-align: top;
    }
}

.sprite {
    background-image: url(../images/icon_sprite.png);
    background-repeat: no-repeat;
}

.sprite-icon_bdate {
    width: 26px;
    height: 27px;
    background-position: 0 0;
}

.sprite-icon_cam_lit {
    width: 19px;
    height: 12px;
    background-position: -26px 0;
}

.sprite-icon_camera_blue {
    width: 22px;
    height: 13px;
    background-position: -45px 0;
}

.sprite-icon_cel {
    width: 18px;
    height: 18px;
    background-position: -67px 0;
}

.sprite-icon_date {
    width: 19px;
    height: 19px;
    background-position: -85px 0;
}

.sprite-icon_deliv {
    width: 18px;
    height: 12px;
    background-position: -26px -19px;
}

.sprite-icon_fb_blue {
    width: 22px;
    height: 22px;
    //background-position: -44px -19px;
}

.sprite-icon_fb_gr {
    width: 21px;
    height: 22px;
    //background-position: -66px -19px;
}

.sprite-icon_food {
    width: 21px;
    height: 12px;
    background-position: -87px -19px;
}

.sprite-icon_food_lit {
    width: 17px;
    height: 10px;
    background-position: 0 -31px;
}

.sprite-icon_gp_blue {
    width: 22px;
    height: 22px;
    //background-position: -17px -31px;
}

.sprite-icon_gp_gr {
    width: 22px;
    height: 22px;
    //background-position: -39px -41px;
}

.sprite-icon_hum {
    width: 12px;
    height: 11px;
    //background-position: -87px -31px;
    background: none;
}

.sprite-icon_inst_blue {
    width: 22px;
    height: 22px;
    //background-position: -61px -41px;
}

.sprite-icon_inst_gr {
    width: 21px;
    height: 22px;
    //background-position: -83px -42px;
}

.sprite-icon_key {
    width: 12px;
    height: 11px;
    //background-position: 0 -42px;
    background: none;
}

.sprite-icon_ko {
    width: 12px;
    height: 11px;
    background-position: 0 -64px;
}

.sprite-icon_list {
    width: 14px;
    height: 16px;
    background-position: -12px -64px;
}

.sprite-icon_list_lit {
    width: 11px;
    height: 12px;
    background-position: -26px -64px;
}

.sprite-icon_mess_gr {
    width: 12px;
    height: 10px;
    background-position: -37px -64px;
}

.sprite-icon_od_blue {
    width: 22px;
    height: 22px;
    //background-position: -49px -64px;
}

.sprite-icon_od_gr {
    width: 22px;
    height: 22px;
    //background-position: -71px -64px;
}

.sprite-icon_phone_gr {
    width: 12px;
    height: 12px;
    background-position: -93px -64px;
}

.sprite-icon_phonew {
    width: 16px;
    height: 16px;
    background-position: 0 -86px;
}

.sprite-icon_pic {
    width: 9px;
    height: 13px;
    background-position: -26px -76px;
}

.sprite-icon_prof {
    width: 15px;
    height: 12px;
    background-position: -93px -76px;
}

.sprite-icon_search {
    width: 17px;
    height: 17px;
    background-position: -35px -88px;
}

.sprite-icon_timer {
    width: 37px;
    height: 29px;
    background-position: -108px 0;
}

.sprite-icon_tv_blue {
    width: 22px;
    height: 22px;
    //background-position: -108px -29px;
}

.sprite-icon_tv_gr {
    width: 22px;
    height: 22px;
    //background-position: -105px -51px;
}

.sprite-icon_vk_blue {
    width: 22px;
    height: 22px;
    //background-position: -108px -73px;
}

.sprite-icon_vk_gr {
    width: 22px;
    height: 22px;
    //background-position: -52px -95px;
}

.sprite-icon_weght {
    width: 15px;
    height: 16px;
    background-position: -130px -29px;
}

.icon-dropM{
    background: url(../images/drop-menu-bottom.png) no-repeat;
    width: 10px;
    height: 7px;
}

// @mixin socIcon($bg){
// 	background-position: $bg;
// }

// .social-icon {
// 	background-image: url('../images/social-icon.png');
// 	background-repeat: no-repeat;
	
// 	&_fb {
// 		@include socIcon(0 0);
// 	}
// 	&_vk {
// 		@include socIcon(-15px 0);
// 	}
// }

.fSocial-icons,.productSoc{
    .icon{
        background: none;
        img{
            width: 100%;
            height: 100%;
        }
    }
}