$body-minWidth : 320px;
.container{
	max-width: 640px;
	overflow: hidden;
	position: relative;
}

/* header layout */
.header {
	position: relative;
	z-index: 1;
	margin-bottom: 0px;
	min-height: 235px;	
	&-top{
		background: #f2f1f1;
		padding: 8px 0;
		font-size: px(11);
		text-transform: uppercase;
		color: #58595b;
		display: block;
		&:hover{
			color: #58595b;
		}
		.icon{
			margin-right: 2px;
		}
	}
	&-middle{
		@extend %cfix;
		padding: 14px 15px;
		&-left{
			@extend .pull-left;
			width: 28%;
			padding-top: 3px;
		}
		&-right{
			@extend .pull-right;
			@extend .text-right;
			width: 55%;
			position: relative;
			z-index: 2;
			.button{
				margin-bottom: 10px;
				min-width: 150px;
			}
		}
	}
	.hBasket{
		margin-bottom: 14px;
		max-height: 167px;
	}
	.hSlider{
		position: relative;
		z-index: 1;
	}
	.hTime{
		text-align: right;
		margin-right: 8px;
	}
	.hPhone{
		margin-bottom: 12px;
	}
}

.main{
	position: relative;
	z-index: 2;
	margin-bottom: 10px;
	padding: 0 5px;
}
.leftMenu{
	@extend .text-center;
	background: #5fa9c0;
	border:1px solid #afd4df;
	border-width: 1px 1px 0px 1px;
	@include transition(200ms);
	background: $menuBg;
	margin: 0;
	padding: 30px 5px;
	z-index: 10;
	width: 287px;
	position: absolute;
	left: -287px;
	top: 0;
	bottom: 0;
	@extend .text-center;
	.closeBtn{
		display: none;
	}
	&.active{
		.closeBtn{
			display: block;
		}
	}
}

.innerContent{
	padding:0 29px;
}


.infoBlocks{
	margin-bottom: 25px;
}

.videosPage-items{
	margin-bottom: 25px;
}

.catalogItems{
	@extend .row;
	&-wrap{
		margin-bottom: 15px;
	}
	&-col{
		@extend .col-xs-6;
	}
}

.footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:2;
	overflow:hidden;
	background: #f2f1f1;
	&_placeholder{
		height: 200px;
	}
	&-right{
		margin-left: 170px;
	}
	&-left{
		@extend .pull-left;
		width: 100px;
		background: #5a4a42;
		padding: 34px 12px 0px;
		margin-left: 33px;
		border-left: 1px solid #887c77;
		border-right: 1px solid #887c77;
	}
	.fSocial{
		margin-bottom: 15px;
		font-size: 0;
		text-align: center;
	}
	&-menu{
		padding: 15px 0 15px;
	}
}

.contactsPage{
	&-head{
		@extend .zForm-head;
		@extend %cfix;
	}
	&-col{
		@extend .zForm-col;
		&:first-child{
			width: 60%;
		}
		&:first-child{
			width: 38%;
		}
	}
	&-info{
		font-size: px(14);
		margin: 0 25px 0;
		margin-bottom: 15px;
		position: relative;
		z-index: 2;
		@extend %cfix;
		@extend %openSans;
	    padding:35px 28px 15px;
	    -webkit-border-radius: 10px;
	    -moz-border-radius: 10px;
	    -ms-border-radius: 10px;
	    border-radius: 10px;
	    background: rgba(255,255,255,1);
	    -webkit-box-shadow: 0 1px 20px 0 rgba(0,0,0,0.2);
	    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.2);
	    .icon{
	    	float: left;
	    }
	    &-text{
	    	margin-left: 28px;
	    }
	}
	&-row{
		margin-bottom: 20px;
	}
	&-map{
		position: relative;
		z-index: 1;
		margin-top: -90px;
		margin-bottom: 25px;
	}
	&-content{
		@extend %cfix;
		&-col{
			@extend .pull-left;
			width: 50%;
		}
		.zForm{
			padding: 15px 38px 15px 0;
		}
		margin-bottom: 18px;
		border-top: 2px solid #e2e2e3;
		border-bottom: 2px solid #e2e2e3;
	}
	.zForm{
		margin-bottom: 25px;
		padding-bottom: 15px;
		border-bottom:1px solid #bdbec1;
	}
	.phoneText{
		font-size: px(20);
	}
	&-text{
		margin-bottom: 25px;
	}
	&-text.ctext{
		color: #6d6e71;
		h4{
			font-size: 12px;
			text-transform: uppercase;
			color: #6d6e71;
		}
		ul{
			margin-left: 0px;
			li{
				font-size: 12px;
				margin-bottom: 0;
				margin-left: 0;
				&:before{
					display: none;
				}
			}
		}
	} 
}