/*buttons*/
.button,.btn{
	@extend .btn;
	outline: none;
	position: relative;
	input {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border: 0;
		background: url('../images_m/spacer.gif');
		cursor: pointer;
	}
}
.btn{
	&-info{
		border-bottom:2px groove #4e83a9;
		padding-left: 5px;
		padding-right: 5px;
		font-size: 13px;
	}
	&-default{
		font-weight: normal;
		text-shadow:none;
		&:hover{
			background: #5a4a42;
			color: #fff;
		}
	}
	&-md{
		@extend .btn-lg;
		font-size: 13px;
		padding: 8px 15px;
		min-width: 128px;
	}
}

.zNiceInputWrapper.fileupload {
	padding: 0 10px 0 130px;
	display: block;
	position: relative;
	background: #fff;
	border: 1px solid #ccc;

	.zNiceInputBg {
		height: 28px;
		line-height: 28px;
		display: block;
		font-size: 12px;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		color: #999999;
		background: transparent;
		position: relative;
		z-index: 1;
	}

	.zNiceInputLeft {
		color: #3d3d3d;
	}


	.ubutton {
		min-width: 111px;
		height: 26px;
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		line-height: 26px;
		-webkit-box-shadow: 1px 1px 1px 1px rgba(9, 49, 60, 0.5);
		box-shadow: 1px 1px 1px 1px rgba(9, 49, 60, 0.5);
		color: #fff;
		font-size: 14px;
		text-align: center;
		background: #6d9aea;
		border: 0px solid #c10e0e;
		cursor: pointer;
		z-index: 2;

		&:hover {
			background: #107999; 
		}
	}

	input {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

}
