
%heading {font-weight:normal;margin-bottom:1em;color:$ctextColor;}
%titleLine{
	position: relative;
	text-align: center;
	&:after{
		content: '';
		width: 	100%;
		height: 1px;
		background: #5fa9c0;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1;
	}
	span{
		background: #fff;
		z-index: 2;
		color: #5a4a42;
		text-transform: uppercase;
		font-weight: 400;
		padding:0 20px;
		position: relative;
	}
	a{
		background: #fff;
		z-index: 2;
		color: #5fa9c0;
		font-weight: 400;
		padding-left: 10px;
		position: relative;
		float: right;
		text-decoration: underline;
		&:hover{
			color: #5fa9c0;
			text-decoration: none;
		}
	}
}
.slink{
	background: #fff;
	z-index: 2;
	color: #5fa9c0;
	font-weight: 400;
	font-size: 14px;
	position: relative;
	text-decoration: underline;
	&:hover{
		color: #5fa9c0;
		text-decoration: none;
	}
}

a{
	@extend %link;
	border:0;

	&:hover{
		color:$baseColor_hover;
		text-decoration: none;
		.icon{
			opacity: 0.8;
		}
	}
}

.mainheading,.ctext h1,h1{
	@extend %heading;
	font-size: px(28);
	margin-bottom: 25px;
}
.subheading,.ctext h2,h2{
	@extend %heading;
	font-size: px(16);
	font-weight: bold;
	color: #000;
	margin-bottom: 12px;
}
.thirdheading,.ctext h3{
	@extend %titleLine;
}
.thirdheading,.ctext h3,h3{
	@extend %heading;
	font-size: px(14);
	margin-top: 0;
	margin-bottom: 20px;
}
.thirdheading.text-left{
	text-align: left!important;
	span{
		padding-left: 0;
	}
}
.fourheading,.ctext h4,h4{
	@extend %heading;
	font-size: 18px;
}
.fiveheading,.ctext h5,h5{
	@extend %heading;
	font-size: px(16);
}

.innerPage{
	.thirdheading,.ctext h3,h3{
		margin-bottom: 24px;
	}
}

.bTitle{
	color:#000;
	font-size:0.750em;
	margin-bottom:1.2em;
	font-weight:bold;
	text-transform:uppercase;
}

.ctext {
	p {
		margin:0 0 16px 0;
		line-height: 15px;
		font-size: px(12);
		letter-spacing: 0.0179em;

		&:last-child{margin-bottom:0;}
	}

	ul{margin:0em 0 1.8em 0px;
		&:last-child{margin-bottom:0;}
		li{
			position:relative;
			line-height: 1.80em;
			font-size:0.875em;
			letter-spacing: 0.0179em;
			margin: 0 0 1.8em 15px;
			&:before{content:'\2014';position:absolute;left:-18px; top:0; color:$ctextColor;}
		}
	}
	blockquote{
		position: relative;
		text-transform: uppercase;
		margin: 0 0 1.5em 0;
		padding-left:2.2em;
		font-size: 1.2em;
		line-height: 1.6em;
		letter-spacing: 0.1111em;
		&:after{content:'';position:absolute;left:0;top:9px;bottom:9px;width:4px;background-color:#edf2f5;}
	}
	table{border-collapse:collapse;}
	table td{border:1px solid;}
}