.mLogo{
	max-width: 117px;
	margin: 0 auto 35px;
}
.hsep{
	background: #c2c2c4;
	height: 19px;
	width: 1px;
	@extend %inline-middle;
}
.mgBlock{
	margin-bottom: 20px;
}
.zSearch{
	position: relative;
	&-input{
		.zNice-bg{
			@include border-radius(5px);
			border:2px solid #cacaca;
		}
		.zNice-wrap.zNice-focus{
			.zNice-bg{
				border-color:#5fa9c0;
			}
		}
		.zNice-tInput input{
			padding-right: 30px;
			height: 28px;
			font-style: italic;
			color: #808285;
			font-size: 10px;
			@include placeholder(#808285);
			padding-left: 8px;
		}
	}
	&-submit{
		position: absolute;
		top: 0px;
		right: 4px;
		z-index: 5;
		.button{
			width: 17px;
			height: 17px;
			padding: 0;
			min-width: 0;
			background-color: transparent!important;
			img{
				vertical-align: center;
			}
		}
	}
}

.hBasket{
	position: relative;
	&-top{
		background: $menuBg;
		padding: 10px 5px 10px;
		margin-bottom: 3px;
	}
	a{
		text-decoration: none !important;
	}
	&-img{
		max-width: 88px;
		margin: 0 auto 3px;
		border-bottom: 1px solid #a7d0dc;
	}
	&-text{
		font-size: 14px;
		color: #f2f1f1;
	}
	&-inner{
		@include border-radius(10px);
		position: absolute;
		top:16px;
		right: 50%;
		width:320px;
		margin-right: -315px;
		background: #fff;
		padding: 10px 14px;
		border:2px solid #5fa9c0;
		display: none;
		max-height: 400px;
		z-index: 50;
		&-scroll{
			max-height:183px;
			overflow-y: auto;
			margin-bottom: 15px;
		}
		&:after{
			content:'';
			position: absolute;
			top: 31px;
			right: -10px;
			width: 11px;
			height: 26px;
			display: block;
			background:transparent url('../images/hbasket-str.png') left top no-repeat;
		}
		&.active{
			display: block;
		}
	}
	&-inner-text{
		font-size:px(12);
		color: #939598;
		span{
			font-size: px(17);
			color: #5fa9c0;
			font-family: 'Exo 2', sans-serif;
		}
		margin-bottom: 20px;
	}
	&-buttons{
		text-align: justify;
		.btn{
			font-size: 12px;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}
.hPhone{
	@extend %OScondBold;
	color: #5a4a42;
	font-size: 23px;
	line-height: 22px;
	margin-bottom: 10px;
}
.hTime{
	@extend %OScondBold;
	background: #8dc63f;
	font-size: 13px;
	color: #fff;
	padding: 7px 5px 4px;
	position: relative;
	&:after{
		content:'';
		position: absolute;
		display: block;
		top:0;
		left: 50%;
		margin-left: -3px;
		border-top:6px solid #fff;
		border-left:6px solid transparent;
		border-right:6px solid transparent;
	}
}

.fSocial{
	&-title{
		font-size: 10px;
		color: #bcbec0;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.icon{
		margin-right: -1px;
	}
}

.fContacts{
	&-row{
		font-size: 17px;
		text-align: right;
		&:nth-child(2){
			font-size: 13px;
		}
		color: #58595b;
	}
	line-height: 20px;
	.icon{
		margin-right: 5px;
	}
}

.payInfo{
	&-title{
		font-size: 10px;
		color: #808080;
		line-height: 13px;
		@extend %tahoma;
	}
}

.newsBlock{
	@extend %cfix;
	&-col{
		width: 205px;
		@extend .pull-left;
		&:first-child{
			margin-right: 30px;
		}
	}
}

.dibi{
	>*{
		display: inline-block!important;
		vertical-align: middle;
		margin-right: 5px;
	}
}

.videoIframe{
	width: 640px;
}