.hBasketElems{
	&-item{
		padding: 5px 0;
		border-bottom: 1px solid #f0f0f1;
		@extend %cfix;
		&-img,&-text,&-price{
			@extend .pull-left;
		}
		&-img{
			width: 50px;
			height: 50px;
			text-align: center;
			margin-right: 5px;
		}
		&-text{
			width: 128px;
			font-size: 10px;
		}
		&-price{
			width: 88px;
			text-align: center;
			padding-top: 10px;
		}
	}
}