.newsBlock{
	text-align: center;
}
.news-item{
	text-align: left;
	width: 22%;
	display: inline-block;
	vertical-align: top;
	margin: 0 22px 23px 0;
	&:nth-child(4n){
		margin-right: 0;
	}
	&:last-child{
		margin-right: 0;
	}
	&-top{
		position: relative;
		margin-bottom: 8px;
	}
	&-data{
		font-size: px(11);
		color: #a7a9ac;
	}
	&-text{
		font-size: px(11);
		color: #000;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 14px;
	}
}
.video-items{
	.icon-videoPlay{
		position: absolute;
		left: 10px;
		bottom: 10px;
	}
}