.paginator{
	text-align: center;
	display: inline-block;
	&-left{
		.icon-paginator{
			background-position: center left;
		}
	}
	&-right{
		.icon-paginator{
			background-position: center center;
		}
	}
	&-rightTwo{
		.icon-paginator{
			background-position: center right;
		}
	}
	ul{
		li{
			display: inline-block;
			float: left;
			vertical-align: top;
			margin-right: 5px;
			&:last-child{
				margin-right: 0;
			}
			&.active{
				a{
					background: #5a4a42;
					color: #fff;
				}
			}
			a{
				height: 22px;
				line-height: 22px;
				font-size: px(10);
				border: 1px solid #8d8c8d;
				border-radius: 3px;
				background: #f2f1f1;
				padding: 0px 8px;
				text-decoration: none;
				color: #58595b;
				display: block;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}