.ui-select.absoluteOpacity{
	position: absolute;
	opacity: 0;
}

.closeBtn{
	width: 38px;
	height: 38px;
	position: absolute;
	left: 100%;
	top: -1px;
	border: 1px solid #afd4df;
    border-width: 1px 1px 1px 0px;
    padding: 2px;
	background:#5fa9c0 url('../images_m/fbclose.png') left top no-repeat;
	background-size: contain;
	cursor: pointer;
}

.mLogo{
	max-width: 117px;
	margin: 0 auto 35px;
}
.hsep{
	background: #c2c2c4;
	height: 19px;
	width: 1px;
	@extend %inline-middle;
}
.mgBlock{
	margin-bottom: 20px;
}
.zSearch{
	position: relative;
	display: none;
	margin: 25px 15px;
	&-input{
		.zNice-bg{
			@include border-radius(5px);
			border:2px solid #cacaca;
		}
		.zNice-wrap.zNice-focus{
			.zNice-bg{
				border-color:#5fa9c0;
			}
		}
		.zNice-tInput input{
			padding-right: 30px;
			height: 38px;
			font-style: italic;
			color: #808285;
			font-size: 14px;
			@include placeholder(#808285);
			padding-left: 8px;
		}
	}
	&-submit{
		position: absolute;
		top: 9px;
		right: 9px;
		z-index: 5;

		.button{
			@extend .sprite-icon_search;
			@extend .sprite;
			padding: 0;
			min-width: 0;
			background-color: transparent!important;
			&:hover{
				@extend .sprite-icon_search;
				@extend .sprite;
			}
		}
		
	}
}

.hBasket{
	position: relative;
	&-top{
		background: $menuBg;
		padding: 10px 5px 10px;
		margin-bottom: 3px;
	}
	a{
		text-decoration: none !important;
	}
	&-img{
		max-width: 88px;
		margin: 0 auto 3px;
		border-bottom: 1px solid #a7d0dc;
	}
	&-text{
		font-size: 14px;
		color: #f2f1f1;
	}
	&-inner{
		@include border-radius(10px);
		position: absolute;
		top:250px;
		right: 0px;
		left: 0px;		
		background: #fff;
		padding: 10px 14px;
		border:2px solid #5fa9c0;
		display: none;
		max-height: 400px;
		z-index: 50;
		&-scroll{
			max-height:183px;
			overflow-y: auto;
			margin-bottom: 15px;
		}
		&:after{
			content:'';
			position: absolute;
			top: -10px;
			right: 30px;
			width: 26px;
			height: 11px;
			display: block;
			background:transparent url('../images_m/hbasket-str.png') left top no-repeat;
		}
		&.active{
			display: block;
		}
	}
	&-inner-text{
		font-size:px(12);
		color: #939598;
		span{
			font-size: px(17);
			color: #5fa9c0;
			font-family: 'Exo 2', sans-serif;
		}
		margin-bottom: 20px;
	}
	&-buttons{
		text-align: justify;
		.btn{
			font-size: 12px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
.hPhone{
	@extend %OScondBold;
	color: #5a4a42;
	font-size: 25px;
	line-height: 22px;
	margin-bottom: 10px;
}
.hTime{
	font-size: 13px;
	color: #8dc63f;
}

.fSocial{
	&-title{
		font-size: 12px;
		color: #bcbec0;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.icon{
		margin: 0 6px 6px 0px;
		&:nth-child(2n){
			margin-right: 0;
		}
	}
}

.fContacts{
	&-row{
		font-size: 23px;
		&:nth-child(2){
			font-size: 17px;
		}
		color: #58595b;
	}
	.icon{
		margin-right: 5px;
	}
}

.payInfo{
	&-title{
		font-size: 10px;
		color: #808080;
		line-height: 13px;
		@extend %tahoma;
	}
}

.newsBlock{
	@extend %cfix;
	&-col{
		width: 205px;
		@extend .pull-left;
		&:first-child{
			margin-right: 30px;
		}
	}
}

.dibi{
	>*{
		display: inline-block!important;
		vertical-align: middle;
		margin-right: 5px;
	}
}

.videoIframe{
	width: 100%;
}