.sortingPanel{
	width: 100%;
	background: #f2f1f1;
	display: inline-block;
	padding: 3px 12px 3px 28px;
	&-left{
		float: left;
		&-grid{
			float: left;
			margin-right: 20px;
				span{
					&:last-child{
						margin-left: 5px;
					}
				}
			&.active{
				.icon-grid{
					background-position: center right;
				}
			}
			span{
				vertical-align: middle;
				color: #58595b;
				font-size: px(10);
			}
		}
		&-list{
			float: left;
				span{
					&:last-child{
						margin-left: 5px;
					}
				}
			&.active{
				.icon-list{
					background-position: center right;
				}
			}
			span{
				vertical-align: middle;
				color: #58595b;
				font-size: px(10);
			}
		}
		a:focus,a:active{text-decoration: none!important;}
	}
	&-right{
		float: right;
	}
}
.productList-item{
	margin-bottom: 25px;
	font-size: 0;
	.productItem-line{
		.productItem{
			padding: 0 8px;
			min-height: 83px;
			border-bottom: 1px solid #ccc;
			border-radius: 0;
			max-width: 100%;
			display: block;
			&:hover{
				border-top: 1px solid transparent;
				border-right: 1px solid transparent;
				border-left: 1px solid transparent;
			}
			&-top{
				&-imag{
					float: left;
					margin-right: 10px;
					width: 11%;
				}
				&-text{
					float: left;
					padding-top: 20px;
					width: 340px;
					min-height: 70px;
					max-height: 70px;
					text-align: left;
					font-size: px(12);
					overflow: hidden;
				}
			}
			.productItem-bottom{
				display: inline-block;
				float: right;
				&-button{
					margin-left: 20px;
					max-width: 105px;
					padding-top: 7px;
					float: right;
				}
				&-price{
					margin-top: 28px;
				}
			}
		}
	}
	.checkout{
		margin-bottom: 0;
		min-width: 100px;
		float: right;
		margin-left: 5px;
	}
	.zNice{
		&-select{
			color: #58595b;
	 		font-size: px(9);
		}
	}	
	.zForm-title{
		font-size: px(10);
		color: #58595b;
		margin-bottom: 0;
		text-transform: none;
	}
	.productItem{
		max-width: 50%;
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		&-top{
			&-text{
				min-height: 34px;
				max-height: 34px;
				overflow: hidden;
			}
		}
	}
}
.productList{
	&-textBlock{
		margin-bottom: 9px;
		display: inline-block;
		&.active{
			.productList-content-text{
				display: block;
			}
		}
		p{
			font-size: px(12);
			color: #6d6e71;
			margin-bottom: 0;
		}
	}
	&-button{
		margin: 0 auto;
		width: 200px;
	}
	&-content-text{
		display: none;
	}
	.btn-default{	
		font-size: px(9);
		color: #6d6e71;
		&:hover{
			color: #fff;
		}
	}
}
.infoProduct{
	.productList-button{
		a{
			font-size: px(11);
			color: #5fa9c0;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	margin-bottom: 15px;
}