.reviewBlock{
	padding: 0 30px;
	&-item{
		max-width: 520px;
		margin-bottom: 30px;
		&-name{	
			font-size: px(13);
			color: #414042;
			font-weight: 600;
			margin-bottom: 4px;
		}
		&-content{
			max-width: 700px;
			font-size: px(11);
			color: #808285;
			line-height: 15px;
		}
	}
	.btn-primary{
		font-size: px(11);
		font-weight: 100;
		padding: 0;
		min-width: 114px;
		min-height: 25px;
		line-height: 25px;
	}
}