.breadcrumbs{
	margin-bottom: 15px;
	display: inline-block;
	ul{
		li{
			float: left;
			font-size: px(11);
			font-weight: 400;
			color: #808285;
			position: relative;
			padding-left: 30px;
			&:first-child{
				padding-left: 0;
			}
			a{
				color: #808285;
				position: relative;
				&:hover{
					text-decoration: underline;
				}
				&:after{
					content:'';
					position: absolute;
					right: -16px;
					top: 0;
					background: url(../images_m/icon-breadcrumbs.png);
					width: 5px;
					height: 11px;
				}
			}
		}
	}
}