.header-links{
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	display: none;
	margin: 30px 15px;
	a{
		@extend %inline-middle;
		color: #5a4a42;
		.icon{
			margin-right: 8px;
		}
	}
	.hsep{
		margin:0 7px;
	}
}

.header-menu{
	ul{
		@extend %cfix;
		margin-bottom: 0;
		li{
			float: left;
			width: 25%;
			a{
				background: #5fa9c0;
				display: block;
				height: 60px;
				text-align: center;
				border: 1px solid #88ddef;
			}
		}
	}
}
.sMenu{
	font-size: 14px;
	li{
		margin-bottom: 13px;
		a{
			text-decoration: none;
			color: #f5fbf9;
			text-transform: uppercase;
			&:hover{
				text-decoration: underline;
			}
		}
	}

}

.footer-menu{
	width: 100%;
	border-bottom: 1px solid #a69d99;
	li{
		display: inline-block;
		width: 48%;
		.icon{
			margin-right: 5px;
		}
		a{
			font-size: px(12.25);
			color: #414042;
		}
	}
}