.newsBlock{
	text-align: center;
}
.news-item{
	text-align: left;
	display: inline-block;
	vertical-align: top;
	max-width: 315px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 35px;
	&:nth-child(4n){
		margin-right: 0;
	}
	&:last-child{
		margin-right: 0;
	}
	&-top{
		position: relative;
		margin-bottom: 20px;
	}
	&-data{
		font-size: px(16);
		color: #a7a9ac;
		margin-bottom: 7px;
	}
	&-text{
		font-size: px(21);
		color: #000;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 24px;
	}
}
.video-items{
	width: 100%;
	.icon-videoPlay{
		position: absolute;
		left: 10px;
		bottom: 10px;
	}
	.news-item{
		text-align: left;
		display: inline-block;
		vertical-align: top;
		max-width: 45%;
		margin-bottom: 20px;
		&:first-child{
			margin-right: 8%;
		}
		&-top{
			position: relative;
			margin-bottom: 5px;
		}
		&-data{
			font-size: px(11);
			color: #a7a9ac;
			margin-bottom: 2px;
		}
		&-text{
			font-size: px(11);
			color: #000;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 15px;
		}
	}
}