.paginator{
	text-align: center;
	margin-bottom: 30px;
	width: 320px;
	margin: 0 auto;
	&-left{
		.icon-paginator{
			background-position: center left;
		}
	}
	&-right{
		.icon-paginator{
			background-position: center center;
		}
	}
	&-rightTwo{
		.icon-paginator{
			background-position: center right;
		}
	}
	ul{
		text-align: center;
		display: block;
		li{
			display: inline-block;
			vertical-align: top;
			margin-right: 9px;
			&:last-child{
				margin-right: 0;
			}
			&.active{
				a{
					background: #5a4a42;
					color: #fff;
					display: block;
					text-align: center;
				}
			}
			a{
				height: 33px;
				line-height: 33px;
				font-size: px(14.38);
				font-size: px(12);
				border: 1px solid #8d8c8d;
				border-radius: 3px;
				background: #f2f1f1;
				padding: 0px 12px;
				text-decoration: none;
				color: #58595b;
				display: block;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}