.productDescription{
	&-title{
		h2{
			color: #414042;
			line-height: 21px;
			font-size: px(17);
			padding-left: 5px;
		}
	}
	&-buttons{
		margin-bottom: 20px;
		text-align: center;
		.btn{
			font-size: px(16);
			color: #f5fbf9;
			min-width: 127px;
			&:first-child{
				margin-right: 10px;
			}
		}
	}
	&-table{
		border: 1px solid #5fa9c0;
		border-radius: 5px;
		width: 72%;
		margin: 0 auto;
		table{
			width: 100%;
			tr{
				td{
					height: 33px;
					padding: 7px 0 3px 0;
				}
				&:last-child{
					border-top: 1px solid #5fa9c0;
				}
			}
		}
		.tableTop{
			&-left{
				width: 60%;
				border-bottom: 1px solid #5fa9c0;
			}
			&-right{
				width: 33%;
			}
		}
		.tableBottom{
			&-content{
				padding: 0 3%;
				&-left{
					float: left;
					position: relative;
					.bdate{
						&-number{
							position: absolute;
							font-size: px(11);
							font-weight: bold;
							color: #fff;
							top: 5px;
							left: 7px;
						}
						&-month{
							position: absolute;
							font-size: px(7);
							color: #fff;
							top: 17px;
							left: 7px;
						}
					}
				}
				&-right{
					float: left;
					margin-left: 6%;
					p{
						font-size: px(12);
						color: #939598;
						margin-bottom: 0;
						span{
							font-weight: bold;
						}
					}
				}
			}
		}
		.tableText{
			&-iconLeft{
				width: 15%;
				text-align: center;
				float: left;
			}
			&-center{
				font-size: px(11);
				color: #000;
				width: 60%;
				float: left;
			}
			&-blue{
				color: #5fa9c0;
				font-size: px(11);
				width: 25%;
				float: left;
			}
		}
		.timer-wrap{
			padding: 9px 17px 0px 17px;
			.timer-title{
				color: #db382e;
				font-size: px(17);
				line-height: 21px;
			}
		}
	}
}
.basketProdItem-price{
	font-size: px(40);
	font-weight: bold;
	color: #db382e;
	width: 128%;
}
.basketForm .basketProdItem-price{
	width:100%;
}
.basketForm-col{
	padding: 0;
	vertical-align: middle;
	&:nth-child(1){
		width: 30%;
	}
	&:nth-child(2){
		width: 50%;
		text-align: right;
	}
}