.productTop{
	@extend %cfix;
	margin-bottom: 35px;
	&-left{
		width: 85%;
		margin: 0 auto;
	}
	&-right{
	}
}

.productGallery{
	
	&-top{
		position: relative;
		margin-bottom: 13px;
		border: 1px solid #ccc;
		height: 300px;
	}
	&-item{
		text-align: center;
		img{
			margin: 0 auto;
			display: inline;
			vertical-align: middle;	
		}
		&-top{
			height: 300px;
		}
		&-bottom{
			position: absolute;
			bottom: 5px;
			right: 15px;
			left: 15px;
			text-align: center;
			.icon-star{
				background-position: center right;
				&.active{
					background-position: center left;
				}
			}
			a{
				text-decoration: none;
				&:focus{
					border: none;
				}
			}
		}
	}
	.slick-next,.slick-prev{
		background: url(../images_m/carusel-top_m.png);
		width: 20px;
		height: 36px;
		top: 50%;
		margin-top: -7px;
	}
	.slick-next{
		background-position: center right;
		right: -30px;
	}
	.slick-prev{
		background-position: center left;
		left: -30px;
	}
	.product-video{
		text-align: center;
		margin-bottom: 15px;
		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			span{
				color: #414042;
				font-size: px(14);
			}
		}
	}
	.productSoc{
		text-align: center;
		margin-bottom: 15px;
		a{
			margin-right: 5px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.slider-nav.slick-slider{
		margin: 0 35px 15px;
	}
	.slick{
		&-slider{
			margin-bottom: 0;
			&.slider-nav {
				.slick-slide{
					border:1px solid transparent;
					&.slick-current{border-color:$menuBg;}
				}
			}
		}
	}
	.productGallery-imag{
		height: 51px;
		img{
			display: inline;
			vertical-align: middle;
		}
	}
}