.undefinedBlock{width: 100%;background: #ccc;text-align: center;}
.block.undefinedBlock{height: 136px;}
.mytest.undefinedBlock{height:50px;margin-bottom: 10px;}
.mytest2.undefinedBlock{height:80px;margin-bottom: 10px;}
.mytest.undefinedBlock:after{content:'этот текст :after из стилей css/undblock.css';}
.mytest2.undefinedBlock:after{content:'этот текст :after из стилей css/undblock.css';}
.prodCarouselitem:nth-child(2n) .productItem.undefinedBlock{background: #555;}
.productItem.undefinedBlock{height: 230px;}
.receptItem.undefinedBlock{height: 233px;}
.newsBlock-item.undefinedBlock{height: 207px;}
.prodInfo.undefinedBlock{height: 610px;}
.reviewBlock.undefinedBlock{height: 303px;}
.contacts.undefinedBlock{height: 576px;}
.basketPage.undefinedBlock{height: 387px;}
.hBasketElems.undefinedBlock{height: 400px;}
.video-items.undefinedBlock{height: 176px;}
.product-filter.undefinedBlock{height: 200px;margin-bottom: 10px;}
.productList-item.undefinedBlock{height: 600px;}
.productGallery.undefinedBlock{width: 40%;height: 350px;margin-bottom: 10px;float: left;}
.productDescription.undefinedBlock{height: 350px;background: #555;}
.infoProduct.undefinedBlock{width: 100%;height: 400px;}