.timer-title{
	margin-bottom: 5px;
}
.timerBlock{
  @extend %cfix;
  margin-right: -3px;
  margin-bottom: 10px;
  &-col{
	@extend .pull-left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	margin-right: 1px;
	width: 37px;
	height: 29px;
	text-align: center;
	position: relative;
	color: #5a4a42;
	font-size: 18px;
	line-height: 28px;
	&:last-child{
		margin-right: 0;
	}
	background:transparent url('../images/icon_timer.png') left top no-repeat;
  }
  &-text{
	color: 58595b;
	font-size: 9px;
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	text-align: center;
  }
  &-subtitle{
	font-size: 11px;
	color: #000;
	margin-bottom: 5px;
  }
  &-link{
	a{
		font-size: 10px;
		color: #5fa9c0;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
  }
}