

.zForm{
	&-head{
		background: #f2f1f1;
		padding: 5px 13px;
		font-size: 12px;
		color: #6d6e71;
		margin-bottom: 15px;
	}
	.zNice-checkbox,.zNice-radio{
		margin-right:7px;
		& + .zForm-text{
			color:$baseColor;
			@extend %inline-middle;
		}
	}
	&-title{
		font-size: px(14);
		text-transform: uppercase;
		margin-bottom: 18px;
	}
	&-subtitle{
		font-size: px(15);
		margin-bottom: 1em;
	}
	&-row{
		margin-bottom:20px;
		position: relative;
		&:after{
			@extend %cfix;
		}
		
		&.leftFormat{
			.zForm-col{
				&:nth-child(1){
					width:74%;
					margin-right:2%
				}
				&:nth-child(2){
					width:24%;
				}
			}
		}
		&.rightFormat{
			.zForm-col{
				&:nth-child(1){
					width:24%;
					margin-right:2%
				}
				&:nth-child(2){
					width:74%;
				}
			}
		}
		&.zForm-treeCol{
			.zForm-col{
				width: 30%;
				margin-right: 5%;
			}
		}
	}
	&-col{
		width:49%;
		margin-right:2%;
		float:left;
		&:last-child{
			margin-right:0!important;
		}
	}
	&-center{
		text-align:center;
	}
	&-link {
		font-size: px(14);
		@extend %inline-middle;
	}
	&-text{
		
		text-decoration:none;
		font-size: 12px;
	}
	.zForm-inline {
		@extend %inline-middle;
		margin-right: 8px;
	}
	&-label {
		display: block;
		margin-bottom: 10px;
	}
	label{
		display: block;
		margin-bottom: 0;
	}
	&-text, &-label {
		color: #58595b;
		text-decoration: none;
		font-size: 12px;
		font-weight: 400;
	}
	&-labtext{
		background: #f1f2f2;
		font-size: 11px;
		width: 160px;
		padding: 10px;
		position: absolute;
		left: 110%;
		top: 50%;
		margin-top: -25px;
		color: #f26522;
		&:after{
			content:'';
			display: block;
			position: absolute;
			right: 100%;
			top: 50%;
			margin-top: -10px;
			border-right: 10px solid #f1f2f2;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}
	}

	&-table{
		display: table;
		width: 100%;
		margin-bottom: 23px;
		&-col{
			display: table-cell;
			width: 25%;
			text-align: center;
			vertical-align: middle;
		}
	}
}

.popupForm{
	padding:35px 10px 10px;
	.zForm-title{
		font-size: 24px;
		margin-bottom: 25px;
	}
}
.popupWrap{
	min-width: 260px;
	text-align:left;
	padding-top: 25px;
}
.formMessage{
	@include transition(250ms);
	text-align: center;
	 -moz-transform:    translateY(-300px);
     -o-transform:      translateY(-300px);
     -webkit-transform: translateY(-300px);
     transform:         translateY(-300px);
}

.fancybox-opened{
	.formMessage{
		-moz-transform:    translateY(0);
		-o-transform:      translateY(0);
		-webkit-transform: translateY(0);
		transform:         translateY(0);
	}
}

.checkout{
	@extend %cfix;
	&-col{
		@extend .pull-left;
		width: 50%;
	}
	&.checkoutStep-one{
		.checkout-col{
			margin-left: 45px;
			width: 310px;
		}
		.zNice-tInput{
			max-width: 154px;
		}
		.zForm-link{
			display: block;
			margin-top: -4px;
			margin-bottom: 4px;
		}
	}
	&.checkoutStep-two{
		.checkout-col{
			margin-left: 45px;
			width: 210px;
		}
		.buttonRow{
			margin-right: 100px;
		}
	}

	&.checkoutStep-tree{
		.zForm-subtitle{
			font-size: 12px;
		}
		form{
			margin-left: 45px;
			max-width: 610px;
		}
	}
}

.mlForm{
	margin-left: 20px;
}
.startForm{
	.zForm-title{
		text-transform: none;
	}
	.zForm-subtitle{
		margin-bottom: 10px;
	}
	.zForm-row{
		margin-bottom: 10px;
		line-height: 12px;
	}
}

.basketForm{
	width: 100%;
	font-size: px(12);
	margin-bottom: 25px;
	&-head,&-body{
		display: table;
		text-align: center;
		width: 100%;
	}
	&-head{
		.basketForm-col{
			text-align: center;
			border-bottom:2px solid #a4a5a6;
		}
	}
	&-body:last-child{
		.basketForm-col{
			border-bottom:2px solid #a4a5a6;
		}
	}
	.basketForm-col{
		vertical-align: middle;
	}
	&-col{
		display: table-cell;
		padding: 9px;
		&:nth-child(1){
			width: 190px;
			text-align: left;
		}
		&:nth-child(2){
			width: 116px;
		}
		&:nth-child(3){
			width: 185px;
		}
		&:nth-child(4){
			width: 118px;
		}
		&:nth-child(5){
			width: 103px;
		}
	}
	.basketProdItem-count{
		@extend %inline-middle;
		margin-right: 10px;
	}
	&-remove{
		@extend %inline-middle;
		width: 29px;
		height: 29px;
		img{
			vertical-align: middle;
		}
	}
	&-bottom{
		@extend %cfix;
		&-left{
			@extend .pull-left;
			width: 540px;
			.zNice-tInput{
				max-width: 240px;
			}
		}
		&-right{
			@extend .pull-left;
			width: 200px;
		}
		.basketForm-discont{
			font-size: px(12);
			color: #58595b;
			span{
				color: #db382e;
				font-size: 15px;
				font-weight: 700;
			}
		}
	}
}

.basketForm-item{
	position: relative;
	margin-bottom: 30px;
	@extend %cfix;
	.basketForm-remove{
		position: absolute;
		top: 0;
		right: 0;
	}
	&-col{
		@extend .pull-left;
		width: 50%;
		&:last-child{
			@extend .text-right;
		}
	}
	.basketProdItem-price {
		font-weight: 400;
		font-size: 30px;
		color: #000;
	}
	&-bottom{
		padding-top: 15px;
	}
}

.basketDiscont-form{
	margin-bottom: 20px;
	.zForm-row{
		margin-bottom: 10px;
	}
	padding: 15px 0;
	border-top:1px solid #bdbebf;
	border-bottom:1px solid #bdbebf;
}

.basketAllprice{
	font-size: 13px;
	margin-bottom: 25px;
	span{
		font-size: 19px;
		font-weight: 600;
	}
}

.basketProdItem-img{
	width: 110px;
	height: 110px;
	position: relative;
	margin: 0 auto;
}

.redColor{
	color: #db382e;
	input{
		color: #db382e;
	}
}
.reviewBlock-form{
	display: none;
}

.passwordForm{
	max-width: 215px;
}
.checkboxsesForm{
	.zForm-subtitle{
		margin-bottom: 0;
	}
	label{
		display: inline-block!important;
		margin: 0 25px;
	}
}

.registerPage{
	.zForm-inner{
		margin-bottom: 30px;
	}
	.buttonRow{
		max-width: 415px;
	}
}

.zForm-lbl{
	@extend %inline-middle;
	width: 27%;
	font-size: 19px;
	color: #808080;
}
.zForm-input{
	@extend %inline-middle;
	width: 59%;
	font-size: 12px;
}

.productsFilter {
	max-width: 263px;
	margin: 0 auto 27px;
	.btn{
		min-width: 128px;
		padding: 6px 5px;
		font-size: 14px;
	}
	&-checkbox{
		.zForm-text{
			font-size: 19px;
			color: #5fa9c0!important;
		}
	}
}
.mbnone{
	margin-bottom: 0 !important;
}
.payForm{
	img{
		max-width: 110px;
	}
	font-size: 18px;
}