@mixin icons($background, $width, $height) {
	background: url('../images_m/#{$background}.png') no-repeat left top;
	width: $width; 
	height: $height;
}

@mixin arrow($color, $direction:left, $width:7px, $weight: 3px, $angle: 45deg ) { // ie 10+
	width:$width;
	height:$width;
	line-height:$width;
	border-top:$weight solid $color;
	border-right:$weight solid $color;

	@if $direction == 'right' {
		$angle : 45deg;
	} 
	@else if $direction == 'left' {
			$angle : -135deg;
		}	
			@else if $direction == 'up' {
				$angle : -45deg;
			}
				@else if $direction == 'down' {
					$angle : 135deg;
				}

	-ms-transform:rotate($angle);
	-moz-transform:rotate($angle);
	-webkit-transform:rotate($angle);
	-o-transform:rotate($angle);
	transform:rotate($angle);
}

.icon {
	@extend %inline-middle;
	
    &_bigLarr { @include arrow(#000,left,22px,3px); }  // in the css file is compiled - 
	&_bigLarr { @include arrow(#000,left,22px,3px); }  // in the css file is compiled - 
														// .icon_bigLarr {   
														// 	width: 22px;
														// 	height: 22px;
														// 	line-height: 22px;
														// 	border-top: 3px solid red;
														// 	border-right: 3px solid red;
														// 	-ms-transform: rotate(-135deg);
														// 	-webkit-transform: rotate(-135deg);
														// 	transform: rotate(-135deg); 
														// 
													//}

	&_bigRarr { @include arrow(#f00,right,22px,3px); }
	&_litUparr { @include icons(icon_lituparr, 7px, 10px); } 
    
    &-paginator { @include icons(icon-paginator, 8px, 10px); } 
    &-time { @include icons(icon_time_m, 25px, 25px); @extend .icon-mob;} 
    &-videoPlay { @include icons(icon-video, 27px, 19px); } 
    &-star { @include icons(icon-star, 17px, 17px); } 
    &-grid { @include icons(icon-grid, 15px, 16px); } 
    &-list { @include icons(icon-list, 20px, 16px); } 
    &-screen { @include icons(screen_icon, 24px, 18px); background-size: cover;} 
    &-time-right { @include icons(image_fish_m, 28px, 24px);  @extend .icon-mob;} 

    &-soc_tv { @include icons(fsoc1, 31px, 31px); } 
    &-soc_vk { @include icons(fsoc2, 31px, 31px); } 
    &-soc_fb { @include icons(fsoc3, 31px, 31px); } 
    &-soc_gp { @include icons(fsoc4, 31px, 31px); } 
    &-soc_od { @include icons(fsoc5, 31px, 31px); } 
    &-soc_inst { @include icons(fsoc6, 31px, 31px);}

    &-soc_tv-blue { @include icons(fsoc1-blue, 31px, 31px); } 
    &-soc_vk-blue { @include icons(fsoc2-blue, 31px, 31px); } 
    &-soc_fb-blue { @include icons(fsoc3-blue, 31px, 31px); } 
    &-soc_gp-blue { @include icons(fsoc4-blue, 31px, 31px); } 
    &-soc_od-blue { @include icons(fsoc5-blue, 31px, 31px); } 
    &-soc_inst-blue { @include icons(fsoc6-blue, 31px, 31px); }

    &_fphone { @include icons(fphone, 16px, 16px); } 
    &_fmess { @include icons(fmail, 16px, 12px); } 
    &_fmenu1{@include icons(icon_deliv, 20px, 12px);}
    &_fmenu2{@include icons(icon_list, 20px, 12px);}
    &_fmenu3{@include icons(icon_food, 20px, 10px);}
    &_fmenu4{@include icons(icon_pic, 20px, 13px);}
    &_fmenu5{@include icons(icon_cam_lit, 20px, 10px);}
    &_fmenu6{@include icons(icon_prof, 20px, 12px);}
    &_menu{@include icons(hmenu1, 52px, 48px);}
    &_hsearch{@include icons(hmenu2, 42px, 42px);}
    &_proff{@include icons(hmenu3, 41px, 43px);}
    &_bask{@include icons(hmenu4, 44px, 43px);}
    &_key{@include icons(icon_key, 18px, 17px);}
    &_hum{@include icons(icon_hum, 18px, 17px);}
    &_wphone{@include icons(icon_wphone, 18px, 17px);}
    &_pic{@include icons(icon_picb, 17px, 23px);}
    &_bphone{@include icons(icon_phoneb, 19px, 20px);}
	
}

.icon-mob{
    background-size: contain;
}

.sprite {
    background-image: url(../images_m/icon_sprite.png);
    background-repeat: no-repeat;
}

.sprite-icon_bdate {
    width: 26px;
    height: 27px;
    background-position: 0 0;
}

.sprite-icon_cam_lit {
    width: 19px;
    height: 12px;
    background-position: -26px 0;
}

.sprite-icon_camera_blue {
    width: 22px;
    height: 13px;
    background-position: -45px 0;
}

.sprite-icon_cel {
    width: 18px;
    height: 18px;
    background-position: -67px 0;
}

.sprite-icon_date {
    width: 19px;
    height: 19px;
    background-position: -85px 0;
}

.sprite-icon_deliv {
    width: 18px;
    height: 12px;
    background-position: -26px -19px;
}

.sprite-icon_fb_blue {
    width: 22px;
    height: 22px;
    background-position: -44px -19px;
}

.sprite-icon_fb_gr {
    width: 21px;
    height: 22px;
    background-position: -66px -19px;
}

.sprite-icon_food {
    width: 21px;
    height: 12px;
    background-position: -87px -19px;
}

.sprite-icon_food_lit {
    width: 17px;
    height: 10px;
    background-position: 0 -31px;
}

.sprite-icon_gp_blue {
    width: 22px;
    height: 22px;
    background-position: -17px -31px;
}

.sprite-icon_gp_gr {
    width: 22px;
    height: 22px;
    background-position: -39px -41px;
}

.sprite-icon_hum {
    width: 12px;
    height: 11px;
    background-position: -87px -31px;
}

.sprite-icon_inst_blue {
    width: 22px;
    height: 22px;
    background-position: -61px -41px;
}

.sprite-icon_inst_gr {
    width: 21px;
    height: 22px;
    background-position: -83px -42px;
}

.sprite-icon_key {
    width: 12px;
    height: 11px;
    background-position: 0 -42px;
}

.sprite-icon_ko {
    width: 12px;
    height: 11px;
    background-position: 0 -64px;
}

.sprite-icon_list {
    width: 14px;
    height: 16px;
    background-position: -12px -64px;
}

.sprite-icon_list_lit {
    width: 11px;
    height: 12px;
    background-position: -26px -64px;
}

.sprite-icon_mess_gr {
    width: 12px;
    height: 10px;
    background-position: -37px -64px;
}

.sprite-icon_od_blue {
    width: 22px;
    height: 22px;
    background-position: -49px -64px;
}

.sprite-icon_od_gr {
    width: 22px;
    height: 22px;
    background-position: -71px -64px;
}

.sprite-icon_phone_gr {
    width: 12px;
    height: 12px;
    background-position: -93px -64px;
}

.sprite-icon_phonew {
    width: 16px;
    height: 16px;
    background-position: 0 -86px;
}

.sprite-icon_pic {
    width: 9px;
    height: 13px;
    background-position: -26px -76px;
}

.sprite-icon_prof {
    width: 15px;
    height: 12px;
    background-position: -93px -76px;
}

.sprite-icon_search {
    width: 17px;
    height: 17px;
    background-position: -35px -88px;
}

.sprite-icon_timer {
    width: 37px;
    height: 29px;
    background-position: -108px 0;
}

.sprite-icon_tv_blue {
    width: 22px;
    height: 22px;
    background-position: -108px -29px;
}

.sprite-icon_tv_gr {
    width: 22px;
    height: 22px;
    background-position: -105px -51px;
}

.sprite-icon_vk_blue {
    width: 22px;
    height: 22px;
    background-position: -108px -73px;
}

.sprite-icon_vk_gr {
    width: 22px;
    height: 22px;
    background-position: -52px -95px;
}

.sprite-icon_weght {
    width: 15px;
    height: 16px;
    background-position: -130px -29px;
}
.icon-dropM{
    background: url(../images/drop-menu-bottom.png) no-repeat;
    width: 10px;
    height: 7px;
}


// @mixin socIcon($bg){
// 	background-position: $bg;
// }

// .social-icon {
// 	background-image: url('../images_m/social-icon.png');
// 	background-repeat: no-repeat;
	
// 	&_fb {
// 		@include socIcon(0 0);
// 	}
// 	&_vk {
// 		@include socIcon(-15px 0);
// 	}
// }

.icon{
    img{
        vertical-align: top;
    }
}