/*zNice base styles DONT TOUCH IF YOU DONT KNOW WHAT IS THIS!!!!!*/
.zNice{
	.zNice-wrap {
		display: inline-block;
		position: relative;
	}
	.zNice-disabled {
		opacity: 0.5;
	}
	.zNice-qInput .zNice-tInput {
		position: relative;
	}
	.zNice-bg {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
	.zNice-color {
		position: absolute;
		display: block;
		right: 30px;
		top: 5px;
		bottom: 5px;
		width: 30px;
	}
	.zNice-image {
		position: absolute;
		display: block;
		right: 30px;
		top: 0px;
		bottom: 0px;
	}
	.zNice-image img {
		vertical-align: middle;
	}
	.zNice-error-text {
		position: absolute;
		left: 100%;
		top: 3px;
		color: red;
		margin: 0 0 0 5px;
		white-space: nowrap;
		font-size: 0;
		display: none !important;
	}
	.zNice-tArea textarea, .zNice-tInput input {
		position: relative;
		z-index: 1;
		vertical-align: bottom;
		border: 0;
		overflow: auto;
		outline: none !important;
		width: 100%;
		font-size: 12px;
		font-family: sans-serif;
		background: url('../images/spacer.gif');
	}
	.zNice-select {
		cursor: pointer;
	}
	.zNice-expanded {
		z-index: 7;
	}
	.zNice-expanded .zNice-select-list {
		display: block;
	}
	.zNice-select-text {
		display: block;
		white-space: nowrap;
		position: relative;
	}
	.zNice-select-open {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}
	.zNice-select-list {
		position: absolute;
		left: 0px;
		top: 100%;
		list-style: none;
		display: none;
		margin: 0;
		overflow-y: auto;
		min-width: 100%;
		white-space: nowrap;
	}
	.zNice-select-list li {
		display: block;
		position: relative;
	}
	.zNice-select-item {
		display: block;
		position: relative;
	}
	.zNice-checkbox input, .zNice-radio input, .zNice-select select {
		position: absolute;
		left: -99999em;
		border: none;
		margin: 0;
		padding: 0;
	}

	/* -------------
	 * placeholder
	 * ------------- */
	::-webkit-input-placeholder {
		color: #a7a9ac;
	}
	:-moz-placeholder {
		color: #a7a9ac;
	}
	::-moz-placeholder {
		color: #a7a9ac;
	}
	:-ms-input-placeholder {
		color: #a7a9ac;
	}

	/* END zNice base styles DONT TOUCH IF YOU DONT KNOW WHAT IS THIS!!!!!*/

	/* -------------
	 * TeaxArea
	 * ------------- */
	.zNice-tArea {
		display: block;
	}
	.zNice-tArea textarea {
		padding: 10px;
		max-width: 100%;
	}
	.zNice-tArea .zNice-bg {
		background: #fff;
		border: 1px solid #d9d9da;
		@include border-radius(3px);
	}
	.zNice-tArea.zNice-tInput-image{
		textarea{
			padding-left: 35px;
		}
	}
	.zNice-tArea.zNice-tInput-image .zNice-image{
		top: 11px;
	}

	/* -------------
	 * Text Inputs
	 * ------------- */

	/*Default input*/
	.zNice-tInput {
		display: block;
	}
	.zNice-tInput input {
		padding: 5px;
		height: 25px;
	}
	.zNice-tInput .zNice-bg {
		border: 1px solid #d9d9da;
		background: #fff;
		@include border-radius(3px);
	}

	/*Icon input*/
	.zNice-tInput-image {

	}
	.zNice-tInput-image input {
		padding-left: 35px
	}
	.zNice-tInput-image .zNice-image {
		position: absolute;
		left: 10px;
		right: auto;
	}
	.zNice-tInput-image-hover .zNice-image-hover{
		display: none;
	}
	.zNice-tInput-image-hover.zNice-focus .zNice-image{
		display: none;
	}
	.zNice-tInput-image-hover.zNice-focus .zNice-image-hover{
		display: block;
	}

	/*Color input*/
	.zNice-tInput-color input {
		padding-left: 35px
	}
	.zNice-tInput-color .zNice-color {
		position: absolute;
		left: 10px;
		right: auto;
		width: 20px;
	}

	/*Quant input*/
	.zNice-qInput {
		display: inline-block;
	}
	.zNice-qInput .zNice-tInput {
		display: inline-block;
		vertical-align: middle;
	}
	.zNice-qInput input {
		text-align: center;
		width: 40px;
	}
	.zNice-qInput-control {
		height: 20px;
		width: 20px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
	}
	.zNice-qInput-inc {
		background-position: left bottom;
	}
	.zNice-qInput-inc:hover {
		opacity: 0.8;
	}
	.zNice-qInput-dec {
		background-position: right top;
	}
	.zNice-qInput-dec:hover {
		opacity: 0.8;
	}

	.leftButtons.zNice-qInput{
		.zNice-qInput-control{
			position: absolute;
			width: 19px;
			height: 11px;
			left: -22px;
		}
		.zNice-qInput-inc{
			background:transparent url('../images/qinput-top.png') left top no-repeat;
		}
		.zNice-qInput-dec{
			background:transparent url('../images/qinput-bottom.png') left top no-repeat;
			bottom:0;
		}
	}

	/* -------------
	 * Selects Inputs
	 * ------------- */

	/*Default Select*/
	.zNice-select {
		display: block;
		height: 25px;
		line-height: 28px;
		font-size: 12px;
		font-weight: 700;
	}
	.zNice-select .zNice-bg {
		border: 1px solid #d9d9da;
		background: #fff;
		@include border-radius(3px);
	}
	.zNice-select-text {
		overflow: hidden;
		position: relative;
	}
	.zNice-select-open {
		right: 0px;
		top: 1px;
		width: 25px;
		height: 23px;
		border-right: 1px solid #d9d9da;
		@include border-radius(3px);
		background: #fff url('../images/selectimg.png') no-repeat center center;
	}
	.zNice-select-list {
		border-bottom: 1px solid #ccc;
		background-color: #fff;
		max-height: 172px;
	}
	.zNice-select-list li {
		border-width: 0 1px 1px;
		border-style: solid;
		border-color: #ccc;
	}
	.zNice-select-list li:last-child {
		border-bottom: 0;
	}
	.zNice-select-list li.zNice-selected>.zNice-select-item, .zNice-select-list li:hover>.zNice-select-item {
		background: #1794c6;
		color: #fff;
	}
	.zNice-select-list li .zNice-select-item {
		margin: 0 -1px;
	}
	.zNice-select-item, .multipleText {
		padding: 0 25px 0 10px;
	}
	.zNice-select-image .zNice-image {
		width: 30px;
		text-align: center;
	}

	/* -------------
	* Checkboxes
	* ------------- */
	.zNice-checkbox {
		display: inline-block;
		z-index: 2;
		width: 11px;
		height: 11px;
		vertical-align: middle;
		cursor: pointer;
	}
	.zNice-checkbox .zNice-bg {
		border: 1px solid #959493;
	}

	/* -------------
	* Radio
	* ------------- */
	.zNice-radio {
		display: inline-block;
		z-index: 2;
		width: 10px;
		height: 10px;
		vertical-align: middle;
		cursor: pointer;
	}
	.zNice-radio .zNice-bg {
		border: 1px solid #5f5e60;
		@include border-radius(50%);
	}
	.zNice-checked .zNice-bg {
		background: #5fa9c0;
	}

	/*Validation*/

	/*TeaxArea*/
	.zNice-tArea.zNice-focus .zNice-bg {
		border-color: yellow;
	}
	.zNice-tArea.zNice-error .zNice-bg {
		border-color: red;
	}
	.zNice-tArea.zNice-valid .zNice-bg {
		border-color: green;
	}

	/*Default input*/
	.zNice-tInput.zNice-focus .zNice-bg {
		border-color: yellow;
	}
	.zNice-tInput.zNice-error .zNice-bg {
		border-color: red;
	}
	.zNice-tInput.zNice-valid .zNice-bg {
		border-color: green;
	}

	/*Quant input*/
	.zNice-qInput.zNice-focus .zNice-bg {
		border-color: yellow;
	}
	.zNice-qInput.zNice-error .zNice-bg {
		border-color: red;
	}
	.zNice-qInput.zNice-valid .zNice-bg {
		border-color: green;
	}

	/*Checkboxes*/
	.zNice-checkbox.zNice-error .zNice-bg {
		border-color: red;
	}
	.zNice-checkbox.zNice-valid .zNice-bg {
		border-color: green;
	}

	/*Radios*/
	.zNice-radio.zNice-error .zNice-bg {
		border-color: red;
	}
	.zNice-radio.zNice-valid .zNice-bg {
		border-color: green;
	}

	/*END Validation*

	/* -------------
	* File upload input
	*  .zNiceInputWrapper.fileupload padding-right must be bigger as .ubutton width
	* ------------- */
}
