/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none!important;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset "UTF-8";

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    width: 15px;
    height: 21px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
    bottom: -6%;
    margin-top: -12px;
    padding: 0;
    border: none;
    outline: none;
    z-index: 5;
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    background: url(../images_m/carusel_m.png);
}


.slick-prev {
   background-position: center left;
   left: 106px;
}

.slick-next {
  background-position: center right;
  right: 106px;
}

.slick-vertical {
    .slick-prev,.slick-next{
        top:auto;
        bottom: -50px;
        margin-top: 0;
        width: 23px;
        height: 23px;
        border:1px solid #58595b;
    }
    .slick-prev {
       background: url('../images_m/vertarr_top.png') center center no-repeat;
       left:50%;
       margin-left: -25px;
    }

    .slick-next {
      background: url('../images_m/vertarr_bot.png') center center no-repeat;
      right:50%;
      margin-right: -25px;
    }
}

/* Dots */

.slick-slider {
    margin-bottom: 50px;
}

.slick-dots {
    position: absolute;
    bottom: -40px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 10px;
        width: 10px;
        margin: 0 6px;
        padding: 3px;
        cursor: pointer;
        border:1px solid #68adc2;
        @include border-radius(50%);
        button {
            border: 0;
            background: transparent;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            height: 0;
            width: 0;
            padding: 0;
            color: transparent;
            cursor: pointer;
            @include border-radius(50%);
            border:0;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                content: "";
                width: 7px;
                height: 7px;
                line-height: 20px;
                text-align: center;
                top: 1px;
                left: 1px;
                @include border-radius(50%);
                background: transparent;
            }
        }
        &.slick-active{
            background: #68adc2;
            width: 13px;
            height: 13px;
            button:before{
                background: #593d30;
                top: 2px;
                left: 2px;
            }
        } 
    }
}

.hSlider{
    height: 370px;
    &-item{
        position: relative;
        outline: none!important;
        &-img{
            position: relative;
            img{
                margin: 0 auto;
            }
        }
        &-text{
            position: absolute;
            bottom: 15px;
            right: 31px;
            left: 31px;
            padding: 20px 20px 0;
            @include border-radius(10px);
            background: rgba(255,255,255,0.8);
            -webkit-box-shadow: 0 1px 20px 0 rgba(0,0,0,0.2);
            box-shadow: 0 1px 20px 0 rgba(0,0,0,0.2);
            &-inner{
                max-height: 142px;
                overflow: hidden;
                font-size: 15px;
                margin-bottom:28px;
                margin-bottom: 10px;
                p{
                    margin-bottom: 0;
                }
            }
            .btn{
                position: relative;
               top: 13px;
            }
            h3{
                font-size: 24px;
                margin: 0 0 13px;
                font-weight: bold;
                &:after{
                    display: none;
                }
            }
           .btn{
            margin-bottom: -10px;
            min-width: 110px;
            margin: 0 auto;
           }
        }
    }
}

.vertivalCariusel{
    background: #fff;
    margin-right: -7px;
    margin-left: 16px;
    position: relative;
    -webkit-box-shadow: -3px 3px 7px 0 rgba(0,0,0,0.2);
    box-shadow: -3px 3px 7px 0 rgba(0,0,0,0.2);
    border:1px solid #d2e5eb;
    padding: 9px 9px 45px;
    &:after{
        content:'';
        border-left: 8px solid #3a646d;
        border-top: 10px solid transparent;
        position: absolute;
        top: -11px;
        right: -1px;
        display: block;
        z-index: 5;
    }
    &-title{
        font-size: 11px;
        margin-right: 25px;
        text-align: left;
        color: #675b57;
        margin-bottom: 10px;
        font-family: 'Open Sans', sans-serif;
    }
}