.ctextBlock{
	max-width: 700px;
	.ctext{
		margin-bottom: 20px;
	}
}
.ctextBlock-soc{
	margin-bottom: 20px;
	&-left{
		a{
			display: inline-block;
			margin-right: 4px;
		}
	}
	&-right{
		max-width: 450px;
		float: right;
		span{
			font-size: px(14);
			color: #939598;
			a{
				font-size: px(14);
				color: #939598;
			}
		}
		.tegTitle{
			font-size: 11px;
			color: #000;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}