.header-links{
	font-size: 12px;
	line-height: 21px;
	a{
		@extend %inline-middle;
		color: #5a4a42;
		.icon{
			margin-right: 8px;
		}
	}
	.hsep{
		margin:0 7px;
	}
}
.sMenu{
	font-size: 14px;
	li{
		margin-bottom: 13px;
		a{
			text-decoration: none;
			color: #f5fbf9;
			text-transform: uppercase;
			&:hover{
				text-decoration: underline;
			}
		}
	}

}

.footer-menu{
	display: table;
	width: 100%;
	border-bottom: 1px solid #a69d99;
	li{
		display: table-cell;
		width: 50px;
		.icon{
			margin-right: 5px;
		}
		padding: 8px 0;
		a{
			font-size: 11px;
			color: #414042;
		}
	}
}