.newsBlock-item{
	text-align: left;
	&-data{
		font-size: px(11);
		color: #a7a9ac;
		margin-bottom: 10px;
	}
	&-text{
		color: #808285;
		font-size: px(11);
		margin-bottom: 15px;
		line-height: 14px;
		padding-right: 20px;
	}
	&-all{
		a{
			font-size: px(11);
			color: #5a4a42;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.newsBlock-title{
	font-size: px(15);
	line-height: 18px;
	color: #5fa9c0;
	font-weight: bold;
	margin-bottom: 10px;
}
.receptItem-time{
	color: #a7a9ac;
	font-size: px(10);
	margin-right: 10px;
	display: inline-block;
	span{
		margin-right: 7px;
	}
	&-left{
		float: left;
	}
	&-right{
		float: left;
		margin-left: 11px;
	}
}