.productDescription{
	padding: 0 40px 0 0;
	&-title{
		h2{
			line-height: 21px;
			margin-bottom: 0;
			font-size: px(16);
		}
	}
	&-buttons{
		margin-bottom: 15px;
		.btn{
			font-size: px(16);
			color: #f5fbf9;
			min-width: 127px;
			&:first-child{
				margin-right: 10px;
			}
		}
	}
	&-table{
		border: 1px solid #5fa9c0;
		border-radius: 5px;
		table{
			width: 100%;
			tr{
				td{
					height: 33px;
					padding: 7px 0 3px 0;
				}
				&:last-child{
					border-top: 1px solid #5fa9c0;
				}
			}
		}
		.tableTop{
			&-left{
				width: 56%;
				border-right: 1px solid #5fa9c0;
				border-bottom: 1px solid #5fa9c0;
			}
			&-right{
				width: 44%;
			}
		}
		.tableBottom{
			&-content{
				width: 45%;
				margin: 0 auto;
				&-left{
					float: left;
					position: relative;
					.bdate{
						&-number{
							position: absolute;
							font-size: px(11);
							font-weight: bold;
							color: #fff;
							top: 5px;
							left: 7px;
						}
						&-month{
							position: absolute;
							font-size: px(7);
							color: #fff;
							top: 17px;
							left: 7px;
						}
					}
				}
				&-right{
					float: left;
					margin-left: 6%;
					p{
						font-size: px(12);
						color: #939598;
						margin-bottom: 0;
						span{
							font-weight: bold;
						}
					}
				}
			}
		}
		.tableText{
			&-iconLeft{
				width: 15%;
				text-align: center;
				float: left;
			}
			&-center{
				font-size: px(11);
				color: #000;
				width: 60%;
				float: left;
			}
			&-blue{
				color: #5fa9c0;
				font-size: px(11);
				width: 25%;
				float: left;
			}
		}
		.timer-wrap{
			padding: 9px 17px 0px 17px;
			.timer-title{
				color: #db382e;
				font-size: px(17);
				line-height: 21px;
			}
		}
	}
	.basketProdItem-price{
		font-size: px(30);
		font-weight: bold;
		color: #db382e;
	}
	.basketForm-col{
		padding: 0;
		vertical-align: middle;
		&:nth-child(1){
			width: 145px !important;
		}
		&:nth-child(2){
			width: 125px;
			text-align: left;
		}
	}
}
.zNice{
	margin-bottom: 7px;
	& .zNice-qInput{
		&.rightButton,.leftButton{
			& .zNice-qInput-dec,.zNice-qInput-inc{
				background: url(../images/product-description-qinput.png) center left;
				width: 15px;
				height: 14px;
			}
			& .zNice-qInput-inc{
				background-position: center right;
			}
		}
		& .zNice-tInput{
			margin: 0 5px;
		}
		& input{
			width: 25px;
		}
	}
}