.productItem{
	padding: 10px 5px 10px 5px;
	min-height: 235px;
	border: 1px solid transparent;
	border-radius: 5px;
	position: relative;
	&:hover{
		border: 1px solid #ccc;
		.productItem-top{
			&-imag{
				img{
					transform: scale(1.1);
				}
			}
		}
		.productItem-bottom{
			&-price{
				background: #5fa9c0;
				&:before{
					background-position: center left;
				}
				&:after{
					background-position: center right;
				}
			}
		}
	}
	text-align: center;
	&-top{
		&-imag{
			overflow: hidden;
			height: 85px;
			img{
				transition: 0.3s;
				min-height: 74px;
				margin: 0 auto;
			}
		}
		&-text{
			color: #58595b;
			font-weight: 400;
			font-size: px(9);
			margin-bottom: 5px;
		}
	}
	&-bottom{
		&-price{
			position: relative;
			color: #fff;
			display: inline-block;
			margin-bottom: 8px;
			background: #5a4a42;
			padding: 0 5px 0 5px;
			height: 20px;
			line-height: 20px;
			font-size: px(12);
			&:before{
				content: '';
				background: url(../images/icon-price-bg-left.png);
				background-position: center right;
				position: absolute;
				width: 4px;
				height: 20px;
				left: -4px;
				top: 0;
			}
			&:after{
				content: '';
				background: url(../images/icon-price-bg-right.png);
				background-position: center left;
				position: absolute;
				width: 4px;
				height: 20px;
				right: -4px;
				top: 0;
			}
		}
		.btn{
			max-width: 105px;
			min-width: 105px;
			font-size: px(10);
			background: none;
		}
		.btn-default{
			margin-bottom: 5px;
			&:hover{
				background: #5a4a42;
				color: #fff;
				.sprite-icon_ko{
					background: url(../images/icon-ko-hover.png);
				}
			}
			.sprite-icon_ko{
				vertical-align: top;
				margin-right: 5px;
			}
		}
		.btn-primary{
			color: #87bed0;
			border: 1px solid #87bed0;
			padding: 6px 6px;
			&:hover{
				background: #5fa9c0;
				color: #fff; 
			}
		}
	}
}
.icon-label-hit{
	background: url(../images/lable-hit.png);
	position: absolute;
	top: 0;
	left: 9px;
	width: 43px;
	height:43px;
	z-index: 5;
}
.icon-label-discount{
	background: url(../images/lable-discount.png);
	position: absolute;
	top: 0;
	left: 9px;
	width: 43px;
	height:43px;
	z-index: 5;
}
.icon-label-stock{
	background: url(../images/lable-stock.png);
	position: absolute;
	top: 0;
	left: 9px;
	width: 43px;
	height:43px;
	z-index: 5;
}
.paginator-center{
	margin: 0 auto;
	width: 205px;
	margin-bottom: 23px;
}